---
---

$body-background: #cdccff;
$body-foreground: #533373;
$header: #7b639f;
/*
$blockquote-color: $silver-chalice;
$blockquote-border: $dove-grey;
*/
$link: 30072ff;

{% include default-styles.scss %}

a, a:visited, a:hover {
  color: #{link};
}

body {
  background-image: none !important;
}
