---
---

$body-background: #8954be;
$body-foreground: #7b639f;
$header: #533373;
$blockquote-color: #dedeff;
$blockquote-border: #533373;
$link: #0072ff;

{% include default-styles.scss %}

a, a:visited, a:hover {
  color: #{$link};
}

body {
  background-image: none !important;
}
